{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% if google_font_query %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ google_font_query }}:wght@300;400;500;600;700;800;900&display=swap">
{% endif %}

{% if show_settings_icon %}
<a href="{{ url_for('settings_page') }}" class="settings_icon" title="Settings"><i class="fa-solid fa-gear"></i></a>
{% endif %}

<div id="weather_widget" class="weather_widget" data-key="{{ public_key or '' }}" data-size="{{ weather_size }}"></div>

<div class="clock_wrapper">
  <div class="clock" style="font-family: '{{ clock_font }}', monospace; font-weight: {{ clock_font_weight }}; background-image: url('{{ url_for('pattern_svg', name=clock_pattern, color=clock_pattern_color, bg_color=clock_pattern_bg_color) }}'); background-size: {{ pattern_tile }}px {{ pattern_tile }}px;"><span id="hours">00</span><span class="colon">:</span><span id="minutes">00</span></div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/weather.js') }}"></script>
{% endblock %}
